## Data Cleaning and Preparation

- Removing duplicate data
- Handling missing info and blank cells
- Typing
- ...

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read the file and overview
df = pd.read_csv('Amazon.csv')
df.head()

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,B002PD61Y4,D-Link DWA-131 300 Mbps Wireless Nano USB Adap...,Computers&Accessories|NetworkingDevices|Networ...,₹507,"₹1,208",58%,4.1,"8,131",Connects your computer to a high-speed wireles...,"AGA2PZGWMQIRA46VYOTICFE7KCBA,AHI2QJ4CLTCQWACDI...","nilesh,EAGLE,Manoj KNS,Titus P.,Paras singla,a...","R2EJIN3N3L3XKI,R2JMJ8QNG66LV4,R3B46JNPC2T4E7,R...","good tool to use for,Brand is always good,Over...",good quality tool from d linkWiFi signal is go...,https://m.media-amazon.com/images/I/31+NwZ8gb1...,https://www.amazon.in/D-Link-DWA-131-Wireless-...
1,B002PD61Y4,D-Link DWA-131 300 Mbps Wireless Nano USB Adap...,Computers&Accessories|NetworkingDevices|Networ...,₹507,"₹1,208",58%,4.1,"8,131",Connects your computer to a high-speed wireles...,"AGA2PZGWMQIRA46VYOTICFE7KCBA,AHI2QJ4CLTCQWACDI...","nilesh,EAGLE,Manoj KNS,Titus P.,Paras singla,a...","R2EJIN3N3L3XKI,R2JMJ8QNG66LV4,R3B46JNPC2T4E7,R...","good tool to use for,Brand is always good,Over...",good quality tool from d linkWiFi signal is go...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/D-Link-DWA-131-Wireless-...
2,B002SZEOLG,TP-Link Nano USB WiFi Dongle 150Mbps High Gain...,Computers&Accessories|NetworkingDevices|Networ...,₹749,"₹1,339",44%,4.2,"1,79,692",150 Mbps Wi-Fi —— Exceptional wireless speed u...,"AGV3IEFANZCKECFGUM42MRH5FNOA,AEBO7NWCNXKT4AESA...","Azhar JuMan,Anirudh Sood,Hari Krishnan PS,Akas...","R1LW6NWSVTVZ2H,R3VR5WFKUS15C5,R2F6GC79OYWUKQ,R...",Works on linux for me. Get the model with ante...,I use this to connect an old PC to internet. I...,https://m.media-amazon.com/images/I/31Wb+A3VVd...,https://www.amazon.in/TP-Link-TL-WN722N-150Mbp...
3,B003B00484,Duracell Plus AAA Rechargeable Batteries (750 ...,Electronics|GeneralPurposeBatteries&BatteryCha...,₹399,₹499,20%,4.3,"27,201",Duracell Rechargeable AAA 750mAh batteries sta...,"AG2ICOYPSOV5SGBKFEYHGKCNK7PA,AGJ3OQ4X262D3MAQZ...","T N Sivaji,Akku,V,Meet,MOHAMMED,Niranjan koyri...","R5L3FAFS6JXJF,R1VTQ25LXQX5UD,R6RJYAZUM5240,R1S...","Works Good,Perfect replacement cell for trimme...","Works good,Bought it to replace my Phillips QT...",https://m.media-amazon.com/images/I/418YrbHVLC...,https://www.amazon.in/Duracell-AAA-750mAh-Rech...
4,B003L62T7W,"Logitech B100 Wired USB Mouse, 3 yr Warranty, ...",Computers&Accessories|Accessories&Peripherals|...,₹279,₹375,26%,4.3,"31,534","A comfortable, ambidextrous shape feels good i...","AE6DY6YWTSSE3XNHDXZDGQM2JL2Q,AES3UPSNCD37JZLHZ...","Uday Joglekar,Simi Singh,Hi,chirag bansal,Swar...","R3U9FRV2Q625DO,R3EJZ83W9OHW3D,RSH53O0JL66NL,R3...","Handy Mouse,Good quality mouse,Good one.,Good,...","Liked this Product,https://m.media-amazon.com/...",https://m.media-amazon.com/images/I/31iFF1Kbkp...,https://www.amazon.in/Logitech-B100-Optical-Mo...

In [3]:
# Find and remove duplicates
is_duplicate = [d for d in df.duplicated() if d]
df = df.drop_duplicates()
print('Removed {} columns that were duplicated'.format(len(is_duplicate)))

Removed 0 columns that were duplicated

In [4]:
# Finding any NaN or null values, and dropping them
print(df.isnull().sum())
df = df.dropna()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [5]:
# Check if the price columns have the same currency
print(set(df['actual_price'].str[-1]), set(df['actual_price'].str[0]))
print(set(df['discounted_price'].str[-1]), set(df['discounted_price'].str[0]))

{'8', '5', '6', '9', '3', '0', '7', '2', '1', '4'} {'₹'}
{'8', '5', '6', '9', '3', '0', '7', '2', '1', '4'} {'₹'}

In [6]:
# Since the prices are all in indian rupee(₹), there's no need to convert them
# So we just need to trim the strings and convert them to proper types
df['discounted_price'] = df['discounted_price'].apply(lambda x: x.replace('₹', '').replace(',','')).astype('float32')
df['actual_price'] = df['actual_price'].apply(lambda x: x.replace('₹', '').replace(',','')).astype('float32')
df[['discounted_price', 'actual_price']].head()

   discounted_price  actual_price
0             507.0        1208.0
1             507.0        1208.0
2             749.0        1339.0
3             399.0         499.0
4             279.0         375.0

In [7]:
# Convert the X% discount to a better format
df['discount_percentage'] = df['discount_percentage'].apply(lambda x: x.replace('%', '')).astype('float') / 100
df['discount_percentage'].head()

0    0.58
1    0.58
2    0.44
3    0.20
4    0.26
Name: discount_percentage, dtype: float64

In [8]:
# TRY to convert the ratings to proper types
# df['rating'] = df['rating'].astype('float')

But running that block gives an error, This error shows that there is at least 1 Non-Convertible value in the ratings, so we have to get rid of that row:

In [9]:
df['rating'].value_counts()

rating
4.1    244
4.3    230
4.2    228
4      181
4.4    123
3.9    123
3.8     86
4.5     75
3.7     42
3.6     35
3.5     26
4.6     17
3.3     16
3.4     10
4.7      6
3.1      4
3        3
4.8      3
3.2      2
5        2
2.8      2
|        1
2.6      1
2.9      1
2.3      1
2        1
Name: count, dtype: int64

This shows that the 1 row with value '|' as rating is the culprit, we'll find and drop it
(also very interesting to notice that there are no 1 star reviews in this dataset)

In [10]:
df = df.drop(df[df['rating'] == '|'].index)
df['rating'] = df['rating'].astype('float')
df['rating'].head()

0    4.1
1    4.1
2    4.2
3    4.3
4    4.3
Name: rating, dtype: float64

In [11]:
# Changing rating_count data type
df['rating_count'] = df['rating_count'].apply(lambda x: str(x).replace(',', '')).astype('int32')
df['rating_count'].head()

0      8131
1      8131
2    179692
3     27201
4     31534
Name: rating_count, dtype: int32

We now have to separate the categories into top N categories for each product

In [12]:
# Separating categories into another dataframe
categories = df['category'].str.split('|', expand=True)
categories.head()

,0,1,2,3,4,5,6
0,Computers&Accessories,NetworkingDevices,NetworkAdapters,WirelessUSBAdapters,None,None,None
1,Computers&Accessories,NetworkingDevices,NetworkAdapters,WirelessUSBAdapters,None,None,None
2,Computers&Accessories,NetworkingDevices,NetworkAdapters,WirelessUSBAdapters,None,None,None
3,Electronics,GeneralPurposeBatteries&BatteryChargers,RechargeableBatteries,None,None,None,None
4,Computers&Accessories,Accessories&Peripherals,"Keyboards,Mice&InputDevices",Mice,None,None,None

In [13]:
# count the number of missing values in each row
missing_counts = categories.isnull().sum(axis=1)
print(missing_counts.value_counts())

3    778
2    435
4    157
1     71
0     13
5      8
Name: count, dtype: int64

Since  only 8 of the products have less than 3 categories, we'll go with having top 3 categories per product

In [14]:
categories_list = []
for i in range(3):
    categories_list.extend([c for c in categories[i].unique() if c])
for c in set(categories_list):
    # Show duplicated categories accross multiple columns
    if categories_list.count(c) > 1:
        print('{}: {} Occurences'.format(c, categories_list.count(c)))

Accessories: 2 Occurences

This shows that "Accessories" Value was seen in 2 different columns, We'll have to make sure it's not in the same row

In [15]:
categories[(categories[1] == 'Accessories') & (categories[2] == 'Accessories')]
# Returns empty, meaning there are no rows where two columns have the same value, we can proceeed:

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6]
Index: []

In [16]:
# Rename the columns 
categories = categories.rename(columns = {0: 'category_1', 1: 'category_2', 2: 'category_3'})
# Replace the 'category' column with 3 category columns
df['category_1'] = categories['category_1']
df['category_2'] = categories['category_2']
df['category_3'] = categories['category_3']
df = df.drop(columns='category')

In [17]:
# Show the list of categories and proceed to edit and reformat their names:
categories_list

['Computers&Accessories',
 'Electronics',
 'Home&Kitchen',
 'OfficeProducts',
 'Toys&Games',
 'MusicalInstruments',
 'Health&PersonalCare',
 'HomeImprovement',
 'Car&Motorbike',
 'NetworkingDevices',
 'GeneralPurposeBatteries&BatteryChargers',
 'Accessories&Peripherals',
 'ExternalDevices&DataStorage',
 'HomeTheater,TV&Video',
 'Kitchen&HomeAppliances',
 'PowerAccessories',
 'Heating,Cooling&AirQuality',
 'OfficeElectronics',
 'Arts&Crafts',
 'OfficePaperProducts',
 'CraftMaterials',
 'Cameras&Photography',
 'Headphones,Earbuds&Accessories',
 'Mobiles&Accessories',
 'Printers,Inks&Accessories',
 'Kitchen&Dining',
 'HomeStorage&Organization',
 'HomeAudio',
 'Microphones',
 'HomeMedicalSupplies&Equipment',
 'Accessories',
 'Components',
 'Electrical',
 'WearableTechnology',
 'Monitors',
 'CarAccessories',
 'Tablets',
 'Laptops',
 'NetworkAdapters',
 'RechargeableBatteries',
 'Keyboards,Mice&InputDevices',
 'PenDrives',
 'Accessories',
 'SmallKitchenAppliances',
 'SurgeProtectors',
 'Routers',
 'Cables&Accessories',
 'Vacuum,Cleaning&Ironing',
 'Coffee,Tea&Espresso',
 'Audio&VideoAccessories',
 'WaterPurifiers&Accessories',
 'RoomHeaters',
 'Repeaters&Extenders',
 'WaterHeaters&Geysers',
 'Calculators',
 'LaptopAccessories',
 'Drawing&PaintingSupplies',
 'DisposableBatteries',
 'Paper',
 'Fans',
 'PaintingMaterials',
 'Scrapbooking',
 'PCGamingPeripherals',
 'HardDiskBags',
 'USBGadgets',
 'DrawingMaterials',
 'Headphones',
 'MobileAccessories',
 'UninterruptedPowerSupplies',
 'TabletAccessories',
 'Parts&Accessories',
 'Printers',
 'AirPurifiers',
 'KitchenTools',
 'LaundryOrganization',
 'Humidifiers',
 'ExternalHardDisks',
 'Televisions',
 'SatelliteEquipment',
 'Condenser',
 'Speakers',
 'HealthMonitors',
 'MemoryCards',
 'Cases',
 'InternalSolidStateDrives',
 'USBHubs',
 'Inks,Toners&Cartridges',
 'CordManagement',
 'HardDriveAccessories',
 'Smartphones&BasicMobiles',
 'Adapters&Multi-Outlets',
 'SecurityCameras',
 'ExternalMemoryCardReaders',
 'SmartWatches',
 'SewingMachines&Accessories',
 'Projectors',
 'Adapters',
 'Memory',
 'VideoCameras',
 'ExternalSolidStateDrives',
 'DataCards&Dongles',
 'Flashes',
 'Earpads',
 'InteriorAccessories',
 'AVReceivers&Amplifiers',
 'MediaStreamingDevices',
 'AirConditioners',
 'TraditionalLaptops',
 'InternalHardDrives']

In [18]:
category_rename_dict = {'&': ' and ', ',': ', ', 'OfficeProducts': 'Office Products', 'MusicalInstruments': 'Musical Instruments', 'HomeImprovement': 'Home Improvement',
                       'NetworkingDevices': 'Networking Devices', 'GeneralPurposeBatteries': 'General Purpose Batteries', 'BatteryChargers': 'Battery Chargers',
                        'ExternalDevices': 'External Devices', 'DataStorage': 'Data Storage', 'HomeTheater': 'Home Theater', 'HomeAppliances': 'Home Appliances',
                        'PowerAccessories': 'Power Accessories', 'AirQuality': 'Air Quality', 'OfficeElectronics': 'Office Electronics', 'OfficePaperProducts': 'Office Paper Products',
                        'CraftMaterials': 'Craft Materials', 'HomeStorage': 'Home Storage', 'HomeMedicalSupplies': 'Home Medical Supplies', 'WearableTechnology': 'Wearable Technology',
                       'CarAccessories': 'Car Accessories', 'NetworkAdapters': 'Network Adapters', 'RechargeableBatteries': 'Rechargeable Batteries', 'InputDevices': 'Input Devices',
                       'PenDrives': 'Pen Drives', 'SmallKitchenAppliances': 'Small Kitchen Appliances', 'SurgeProtectors': 'Surge Protectors', 'VideoAccessories': 'Video Accessories',
                        'WaterPurifiers': 'Water Purifiers', 'RoomHeaters': 'Room Heaters', 'WaterHeaters': 'Water Heaters', 'PaintingSupplies': 'Painting Supplies',
                        'DisposableBatteries': 'Disposable Batteries', 'PaintingMaterials': 'Painting Materials', 'PCGamingPeripherals': 'PC Gaming Peripherals', 'HardDiskBags': 'HardDisk Bags',
                        'USBGadgets': 'USB Gadgets', 'DrawingMaterials': 'Drawing Materials', 'TabletAccessories': 'Tablet Accessories', 'UninterruptedPowerSupplies': 'Uninterrupted Power Supplies',
                        'KitchenTools': 'Kitchen Tools', 'LaundryOrganization': 'Laundry Organization', 'MobileAccessories': 'Mobile Accessories', 'AirPurifiers': 'Air Purifiers',
                        'ExternalHardDisks': 'External HardDisks', 'SatelliteEquipment': 'Satellite Equipment', 'HealthMonitors': 'Health Monitors', 'MemoryCards': 'Memory Cards',
                        'InternalSolidStateDrives': 'Internal SSD', 'USBHubs': 'USB Hubs', 'CordManagement': 'Cord Management', 'HardDriveAccessories': 'HardDrive Accessories',
                        'BasicMobiles': 'Basic Mobiles', 'SecurityCameras': 'Security Cameras', 'ExternalMemoryCardReaders': 'External MemoryCard Readers', 'SmartWatches': 'Smart Watches',
                        'SewingMachines': 'Sewing Machines', 'VideoCameras': 'Video Cameras', 'ExternalSolidStateDrives': 'External SSD', 'DataCards': 'Data Cards',
                        'InteriorAccessories': 'Interior Accessories', 'MediaStreamingDevices': 'Media Streaming Devices', 'AirConditioners': 'Air Conditioners',
                       'TraditionalLaptops': 'Traditional Laptops', 'InternalHardDrives': 'Internal HardDrives'}

In [19]:
for k, v in category_rename_dict.items():
    df['category_1'] = df['category_1'].apply(lambda x: x.replace(k, v) if x else x)
    df['category_2'] = df['category_2'].apply(lambda x: x.replace(k, v) if x else x)
    df['category_3'] = df['category_3'].apply(lambda x: x.replace(k, v) if x else x)
df[['category_1', 'category_2', 'category_3']].head()

,category_1,category_2,category_3
0,Computers and Accessories,Networking Devices,Network Adapters
1,Computers and Accessories,Networking Devices,Network Adapters
2,Computers and Accessories,Networking Devices,Network Adapters
3,Electronics,General Purpose Batteries and Battery Chargers,Rechargeable Batteries
4,Computers and Accessories,Accessories and Peripherals,"Keyboards, Mice and Input Devices"

Now we can use this data for other purposes

In [20]:
# Exporting the prepared data
df.to_csv('Amazon-Clean.csv')